/Pertemuan10/PersistentObjectDAO/nbproject/private/
/Pertemuan10/PersistentObjectDAO/build/
/Pertemuan10/SerializeObject/nbproject/private/
/Pertemuan10/SerializeObject/build/
/Pertemuan10/jdbc_mhs_service/nbproject/private/
/Pertemuan10/jdbc_mhs_service/build/
/Pertemuan10/GUISIMPLE/nbproject/private/
/Pertemuan10/GUISIMPLE/build/
/Pertemuan11/GUISIMPLE/build/
/Pertemuan11/GUISIMPLE/nbproject/private/
/Pertemuan10/ECommerceApp/nbproject/private/
/Pertemuan10/ECommerceApp/build/
/Tugas Besar/ECommerceApp/nbproject/private/
/Tugas Besar/ECommerceApp/build/
